# Site Settings
title: BioBridge
email: contact@biobridge.org
description: >-
  A student-led biotech access initiative helping students who are curious about 
  biotechnology but don't know where to begin.
baseurl: "/biobridge"
url: "https://jean-biotech.github.io"

# Theme
remote_theme: "mmistakes/minimal-mistakes@4.26.2"
minimal_mistakes_skin: "default"

# Site Author
author:
  name: "BioBridge"
  bio: "Making biotech accessible to everyone"
  avatar: "/assets/images/biobridge-logo.png"

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-seo-tag
  - jekyll-sitemap

# Reading Files
include:
  - _pages

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false
      read_time: false
      comments: false
      share: false
      related: false
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: false

# Site Footer
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/jean-biotech/biobridge"
